@font-face {
  font-family: "Inter-Regular";
  src: url(../fonts/Inter-Regular.ttf);
}
@font-face {
  font-family: "Inter-Medium";
  src: url(../fonts/Inter-Medium.ttf);
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url(../fonts/Inter-SemiBold.ttf);
}
@font-face {
  font-family: "Inter-Bold";
  src: url(../fonts/Inter-Bold.ttf);
}
html, body {
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Inter-Regular";
}

a {
  text-decoration: none;
  font-family: "Inter-Regular";
}

._container {
  max-width: 1440px;
  padding: 0 20px;
  margin: 0 auto;
}
@media (min-width: 765px) {
  ._container {
    padding: 0 40px;
  }
}
@media (min-width: 1152px) {
  ._container {
    padding: 0 144px;
  }
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}

h1 {
  font-family: "Inter-Medium";
  font-size: 52px;
  line-height: 118%;
  color: #4D4D4D;
}
h1 span {
  font-family: "Inter-Medium";
  color: #4CAF4F;
}
@media (min-width: 765px) {
  h1 {
    font-size: 64px;
  }
}

h2 {
  font-family: "Inter-Medium";
  font-size: 36px;
  line-height: 118%;
  color: #4D4D4D;
}
h2 span {
  font-family: "Inter-Medium";
  color: #4CAF4F;
}

h3 {
  font-family: "Inter-Medium";
  font-size: 28px;
  line-height: 118%;
  color: #4D4D4D;
}
h3 span {
  font-family: "Inter-Medium";
  color: #4CAF4F;
}

h4 {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 140%;
  color: #FFF;
}

.upd__subtitle, .cust__subinfo, .cust__text, .ach-item__subtitle, .community__subtitle, .clients__subtitle, .hero__subtitle, .header .nav__link, .mob-menu__link, .btn {
  font-size: 16px;
  line-height: 150%; /* 24px */
}
@media (max-width: 765px) {
  .upd__subtitle, .cust__subinfo, .cust__text, .ach-item__subtitle, .community__subtitle, .clients__subtitle, .hero__subtitle, .header .nav__link, .mob-menu__link, .btn {
    font-size: 20px;
  }
}

.f-nav__a, .f-social__copy-wrap, .unlock__text, .calender__text, .community .item-com__desc {
  font-size: 14px;
  line-height: 140%;
}
@media (max-width: 765px) {
  .f-nav__a, .f-social__copy-wrap, .unlock__text, .calender__text, .community .item-com__desc {
    font-size: 18px;
  }
}

.btn {
  display: inline-flex;
  column-gap: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  white-space: nowrap;
  transition: 0.3s;
}
@media (max-width: 765px) {
  .btn img {
    height: 20px;
    width: 20px;
  }
}

.btn-normal {
  padding: 14px 32px;
}

.btn-primary {
  color: #FFF;
  background-color: #4CAF4F;
}
.btn-primary:focus {
  outline: 2px solid #4D4D4D;
}
.btn-primary:active {
  outline: none;
  background-color: #388E3B;
}

.mob-menu {
  position: fixed;
  z-index: 20;
  left: 0;
  top: 56px;
  padding: 32px 12px;
  height: 100vh;
  width: 320px;
  background-color: #FFF;
  transition: 0.3s;
  transform: translateX(-100%);
}
.mob-menu__link {
  display: block;
  padding: 12px 16px;
  border-radius: 8px;
  color: gray;
}
.mob-menu__link:hover {
  background-color: #BEF5C0;
}

.menu-open {
  transform: translateX(0%);
}
@media (min-width: 1152px) {
  .menu-open {
    transform: translateX(-100%);
  }
}

.header {
  background-color: #FFF;
  box-shadow: 0px 4px 8px 0px rgba(171, 190, 209, 0.4);
}
@media (max-width: 1152px) {
  .header {
    position: fixed;
    width: 100%;
    height: 56px;
    z-index: 30;
  }
}
.header__body {
  padding: 16px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  display: none;
  align-items: center;
  column-gap: 32px;
}
@media (min-width: 1152px) {
  .header__menu {
    display: flex;
  }
}
.header .nav__list {
  display: flex;
  column-gap: 24px;
}
.header .nav__link {
  color: #4D4D4D;
}
.header a.menu-btn-burger {
  display: none;
}
.header a.menu-btn-burger.visible {
  display: block;
}
@media (min-width: 1152px) {
  .header a.menu-btn-burger.visible {
    display: none;
  }
}
.header a.menu-btn-cross {
  display: none;
}
.header a.menu-btn-cross.visible {
  display: block;
}
@media (min-width: 1152px) {
  .header a.menu-btn-cross.visible {
    display: none;
  }
}

.hero {
  background-color: #F5F7FA;
}
@media (max-width: 765px) {
  .hero {
    background: url("../img/hero-mobile-bg.png") 0 100%/cover no-repeat;
  }
}
.hero__body {
  padding-top: 152px;
  height: calc(100vh - 56px);
  height: 100vh;
  display: flex;
  align-items: start;
  justify-content: space-between;
  column-gap: 30px;
}
@media (min-width: 765px) {
  .hero__body {
    height: auto;
    align-items: center;
    position: relative;
  }
  .hero__body::after {
    content: "";
    position: absolute;
    display: block;
    width: 46px;
    height: 10px;
    bottom: 20px;
    left: calc(50% - 23px);
    background: url("../img/Dot.svg") 0 0/cover no-repeat;
  }
}
@media (min-width: 1152px) {
  .hero__body {
    padding: 96px 0;
  }
}
.hero__title {
  max-width: 700px;
  margin-bottom: 16px;
  position: relative;
  z-index: 10;
}
.hero__subtitle {
  color: #717171;
  margin-bottom: 32px;
  position: relative;
  z-index: 10;
}
.hero__desc {
  height: 100%;
}
@media (max-width: 765px) {
  .hero__desc {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 765px) {
  .hero__reg-btn {
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
  }
}
.hero__illustration {
  display: none;
  width: 400px;
  height: auto;
  margin-left: -200px;
}
@media (min-width: 765px) {
  .hero__illustration {
    display: block;
  }
}

.clients__body {
  padding: 40px 0px;
}
.clients__title {
  text-align: center;
  margin-bottom: 8px;
}
.clients__subtitle {
  margin-bottom: 16px;
  text-align: center;
  color: #717171;
}
.clients__logos {
  padding: 25px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.community__body {
  padding-bottom: 40px;
}
.community__title {
  margin: 0 auto;
  max-width: 560px;
  text-align: center;
  margin-bottom: 8px;
}
.community__subtitle {
  margin-bottom: 16px;
  text-align: center;
  color: #717171;
}
.community__items {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 765px) {
  .community__items {
    flex-direction: row;
    justify-content: space-between;
  }
}
.community .item-com {
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 300px;
}
.community .item-com__img {
  margin-bottom: 16px;
}
.community .item-com__title {
  text-align: center;
  margin-bottom: 8px;
}
.community .item-com__desc {
  text-align: center;
  color: #717171;
}

.unlock__body, .calender__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 48px;
  padding-bottom: 40px;
}
.unlock__title, .calender__title {
  max-width: 600px;
  margin-bottom: 16px;
}
.unlock__text, .calender__text {
  color: #717171;
  margin-bottom: 32px;
}
.unlock__desc, .calender__desc {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 765px) {
  .unlock__desc, .calender__desc {
    display: block;
    text-align: left;
  }
}
.unlock__illustration, .calender__illustration {
  display: none;
  width: 440px;
  height: auto;
}
@media (min-width: 765px) {
  .unlock__illustration, .calender__illustration {
    display: block;
    margin-left: -90px;
    margin-right: -80px;
  }
}
@media (min-width: 1152px) {
  .unlock__illustration, .calender__illustration {
    margin-left: 0;
    margin-right: 0;
  }
}

.ach {
  background-color: #F5F7FA;
}
.ach__body {
  padding: 24px;
}
@media (min-width: 1152px) {
  .ach__body {
    padding: 64px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
}
@media (min-width: 1152px) {
  .ach__desc {
    max-width: 432px;
  }
}
.ach__title {
  text-align: center;
  margin-bottom: 8px;
}
@media (min-width: 1152px) {
  .ach__title {
    text-align: left;
  }
}
.ach__subtitle {
  text-align: center;
  margin-bottom: 32px;
}
@media (min-width: 1152px) {
  .ach__subtitle {
    text-align: left;
    margin-bottom: 0;
  }
}
.ach__items {
  justify-content: center;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(2, minmax(200px, 220px));
}
@media (min-width: 1152px) {
  .ach__items {
    column-gap: 30px;
    row-gap: 40px;
    grid-template-columns: 260px 260px;
  }
}

.ach-item {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.ach-item__img {
  width: 48px;
  height: 48px;
}
.ach-item__title {
  font-size: 24px;
}
@media (min-width: 765px) {
  .ach-item__title {
    font-size: 28px;
  }
}
.calender__body {
  padding: 48px 0;
}

.cust {
  background-color: #F5F7FA;
  padding: 32px 0;
}
.cust__body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 765px) {
  .cust__body {
    align-items: start;
    flex-direction: row;
    column-gap: 28px;
  }
}
@media (min-width: 1152px) {
  .cust__body {
    flex-direction: row;
    column-gap: 78px;
  }
}
.cust .tesla-image {
  width: 290px;
  border-radius: 8px;
  margin-bottom: 16px;
}
@media (min-width: 1152px) {
  .cust .tesla-image {
    width: 326px;
  }
}
.cust__text {
  color: #717171;
  margin-bottom: 16px;
}
.cust__name {
  font-family: "Inter-SemiBold";
  font-size: 20px;
  color: #4CAF4F;
  line-height: 140%;
  margin-bottom: 8px;
}
.cust__subinfo {
  color: #717171;
  margin-bottom: 32px;
}
.cust__icons-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  column-gap: 28px;
}
.cust__icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0 1 500px;
}
.cust__link {
  font-family: "Inter-SemiBold";
  font-size: 20px;
  color: #4CAF4F;
  display: flex;
  align-items: center;
  column-gap: 8px;
  padding: 12px 0;
}

.upd__body {
  padding: 48px 0px;
}
.upd__title {
  text-align: center;
  margin-bottom: 8px;
}
.upd__subtitle {
  margin-bottom: 16px;
  text-align: center;
  color: #717171;
  margin: 0 auto;
  margin-bottom: 16px;
  max-width: 628px;
}

.updSlider__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.updSlider__slide {
  width: 368px;
  height: 386px;
  overflow-y: unset;
}
.updSlider__slide ._ibg {
  height: 286px;
}
.updSlider__slide ._ibg img {
  border-radius: 8px;
}
.updSlider__slide .slide-info {
  padding: 16px 18px;
  border-radius: 8px;
  text-align: center;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  gap: 24px;
  min-width: 318px;
  margin: 0 24px;
  box-shadow: 0px 8px 16px 0px rgba(171, 190, 209, 0.4);
  transform: translateY(-100px);
}
@media (min-width: 765px) and (max-width: 1440px) {
  .updSlider__slide .slide-info {
    margin: 0 124px;
  }
}
.updSlider__slide .slide-info__desc {
  font-family: "Inter-Medium";
  font-size: 20px;
  line-height: 140%;
  color: #717171;
}
.updSlider__slide .slide-info__link {
  font-family: "Inter-SemiBold";
  font-size: 20px;
  color: #4CAF4F;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 8px;
}

.demo__body {
  padding: 32px 0;
  background-color: #F5F7FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 32px;
}
.demo__title {
  font-family: "Inter-Medium";
  font-size: 52px;
  line-height: 118%;
  color: #4D4D4D;
  text-align: center;
  max-width: 880px;
}
.demo__title span {
  font-family: "Inter-Medium";
  color: #4CAF4F;
}
@media (min-width: 765px) {
  .demo__title {
    font-size: 64px;
  }
}

.footer {
  padding: 64px 0 20px;
  background-color: #263238;
}
@media (min-width: 1152px) {
  .footer {
    padding: 64px 0;
  }
}
.footer__body {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (min-width: 1152px) {
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
  }
}
.f-social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 1152px) {
  .f-social {
    flex-direction: column;
    align-items: start;
  }
}
.f-social__copy-wrap {
  color: #F5F7FA;
  display: none;
}
@media (min-width: 1152px) {
  .f-social__copy-wrap {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
  }
}
.f-social__links {
  display: flex;
  align-items: center;
  column-gap: 16px;
}
.f-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
@media (min-width: 700px) {
  .f-wrap {
    flex-direction: row;
    justify-content: space-between;
  }
}

.f-nav {
  display: flex;
  column-gap: 30px;
}
.f-nav__block {
  min-width: 160px;
}
.f-nav__title {
  margin-bottom: 24px;
}
.f-nav__list {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.f-nav__a {
  color: #F5F7FA;
}
.f-email {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.f-email__input-bar {
  display: flex;
  align-items: center;
  justify-content: start;
  height: 40px;
}
.f-email__input-bar input[name=user_email] {
  background-color: #515B60;
  border: none;
  outline: none;
  border-radius: 8px 0px 0px 8px;
  padding: 9px 0px 11px 12px;
  font-size: 14px;
  line-height: 140%;
  color: #D9DBE1;
}
.f-email__input-bar button {
  background-color: #515B60;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 11px;
  display: inline-flex;
  border-radius: 0px 8px 8px 0px;
}
.f-email__copy-wrap {
  font-size: 14px;
  line-height: 140%;
  color: #F5F7FA;
}
@media (min-width: 1152px) {
  .f-email__copy-wrap {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */
